@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./composants/buttons";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/fonctionnement";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}